.categories_wrap {
    background-color: var(--main-light-color);
}

.categories {
    margin: auto;
    max-width: var(--max-width);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 3.4em;
    color: white;
}

.category_list {
    display: flex;
    justify-content: stretch;
    gap: 35px;
}

.category_item {
    width: 100%;
    padding: 25px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--second-color) 0 0 20px -8px;
    transition: 0.4s transform cubic-bezier(.63,.14,.42,.89), 0.3s box-shadow ease-in-out;
}

.category_item:hover {
    transform: scale(0.95);
    box-shadow: var(--second-color) 0 0 20px 0;
}

.category_title {
    font-size: 22px;
    font-weight: 500;
}

.category_description {
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    color: var(--second-light-color);
}

.category_img {
    margin: auto;
    width: 100%;
    object-fit: contain;
}

