.button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80px;
    height: 25px;
    border: 1.5px solid var(--main-light-color);
    border-radius: 4px;
    transition: 0.1s ease-in-out;
}

.minus, .plus {
    font-size: 1.1em;
    padding-inline: 6px;
    padding-bottom: 3px;
}

.input {
    line-height: 10px;
    text-align: center;
    width: 20px;
    flex-grow: 1;
}

.plus:hover, .minus:hover {
    transform: scale(0.9);
}

.button:disabled {
    opacity: 0.7;
}
