:root {
    --padding: 40px;
    --max-width: 1440px;

    --black: #000;
    --main-dark-color: #322929;
    --main-light-color: #7c5050;

    /*--main-light-color: #37373c;*/
    /*--second-color: #eaeaea;*/
    /*--second-light-color: #686868;*/
}

body {
    margin: auto;
    font-size: 14px;
}