:root {
    --padding: 40px;
    --max-width: 1440px;

    --black: #000;
    --main-dark-color: #2c2525;
    --main-light-color: #7c5050;

    /*--main-light-color: #37373c;*/
    /*--second-color: #eaeaea;*/
    /*--second-light-color: #686868;*/
}

body {
    margin: auto;
    font-size: 15px;
}

@media (max-width: 800px) {
    :root {
        --padding: 30px;
    }

    body {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    :root {
        --padding: 20px;
    }

    body {
        font-size: 13px;
    }
}
@media (max-width: 400px) {
    :root {
        --padding: 10px;
    }

    body {
        font-size: 12px;
    }
}