.cart {
    max-width: var(--max-width);
    padding: calc(var(--padding)/1.5) var(--padding) calc(var(--padding)/3);
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart_title {
    font-size: 2.4em;
    font-weight: 600;
    color: var(--main-light-color) !important;
}

.cart_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.total {
    margin-top: 20px;
    text-align: right;
    font-size: 1.6em;
    font-weight: 500;
}

.total_price {
    font-weight: 700;
}