.tab_list {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 40px;
    background-color: color-mix(in srgb, var(--black) 10%, white);
    padding: 6px;
}


.tab {
    position: relative;
    min-width: 180px;
}

.tab_motion {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-color: white;
}

.tab_title {
    position: relative;
    z-index: 1;
    font-size: 1.4em;
}


@media (max-width: 450px) {
    .tab {
        min-width: 100px;
    }
}